.academyIndex {
    .banner {
        img {
            width: 100%;
        }
    }

    .quickIcon {
        padding: 74px 0;
        text-align: center;
        a {
            text-decoration: none;
        }
        p {
            margin: 14px 0 0;
            font-size: 24px;
            color: #555;
        }
        img {
            height: 117px;
        }
    }

    .justForYou {
        padding         : 42px 0;
        background-color: #fff;

        .title {
            margin     : 0;
            font-size  : 28px;
            color      : #0400A3;
            font-weight: 800;
            text-align : center;
        }

        .item {
            text-align: center;
            margin    : 32px 0 0;

            img {
                height: 309px;
            }

            p {
                margin: 22px 0 0;
            }

            a {
                display            : inline-block;
                padding            : 0 55px;
                height             : 52px;
                line-height        : 52px;
                border-radius      : 26px;
                color              : #fff;
                font-size          : 22px;
                text-decoration    : none;
                -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent 65%, rgba(255, 255, 255, .3))
            }

            &.brandStory a {
                background: linear-gradient(0deg, #86A5F5 0%, #F2C0FE 100%);
            }

            &.shareEarn a {
                background: linear-gradient(0deg, #FF944D 0%, #FED4B3 100%);
            }
        }
    }

    .course {
        padding: 55px 0;

        &.intermediate {
            background-color: #fff;
        }

        .title {
            margin-bottom  : 38px;
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            h2 {
                margin     : 0;
                font-size  : 28px;
                font-weight: 800;
                color      : #0400A3;
            }

            a {
                font-size      : 24px;
                font-weight    : 400;
                text-decoration: underline;
                color          : #4BA3D3;

                &:hover {
                    text-decoration: none;
                }
            }

        }

        .item {
            width           : 405px;
            border          : 1px solid #F2F2F2;
            background-color: #fff;

            &:hover {
                box-shadow: 0 0 10px #ddd;
            }

            .thumb {
                position: relative;

                .play {
                    width     : 74px;
                    height    : 74px;
                    background: url('~@/assets/img/academy/playIcon.png') no-repeat;
                    position  : absolute;
                    left      : 50%;
                    top       : 50%;
                    transform : translateX(-50%) translateY(-50%);
                    z-index   : 2;
                }
            }

            img {
                width: 100%;
            }

            a {
                text-decoration: none;
            }
        }

        h3 {
            margin     : 0;
            padding    : 20px 33px 0;
            font-size  : 18px;
            color      : #333;
            font-weight: bold;
        }

        p {
            margin   : 0;
            padding  : 14px 33px 22px;
            font-size: 16px;
            color    : #555;
        }
    }
}